{{#if isReact}}
import React from 'react';
const Component = () => <div>Hello</div>;
{{/if}}

{{#if isTypescript}}
const typed: string = 'TypeScript code';
{{else}}
const notTyped = 'JavaScript code';
{{/if}}

{{#unless isReact}}
const vanilla = 'Vanilla JS code';
{{/unless}}

export const config = {
  name: '{{projectName}}',
};
